language: elixir
elixir:
  - 1.3.2
before_install:
before_script:
  - mix local.hex --force
  - mix deps.get --only test
script: mix test
after_script:
  - MIX_ENV=docs mix deps.get
after_success:
  - MIX_ENV=dev mix deps.get
